*.o
*.lo
*.la
*.pc
.libs
.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
libs/
stamp-h1
